# ナビタイムのバス停ID
# 接近情報ページのURLパラメータ startId / goalId から取得
# 例: https://transfer.navitime.biz/5931bus/pc/location/BusLocationResult?startId=XXXXXXXX&goalId=YYYYYYYY
BUS_START_ID=
BUS_GOAL_ID=

# Echo Show表示用のバス停名
BUS_START_NAME=
BUS_GOAL_NAME=
