# ナビタイムのバス停ID
# 接近情報ページのURLパラメータ departure-busstop / arrival-busstop から取得
# 例: https://transfer-cloud.navitime.biz/5931bus/approachings?departure-busstop=XXXXXXXX&arrival-busstop=YYYYYYYY
BUS_START_ID=
BUS_GOAL_ID=

# Echo Show表示用のバス停名
BUS_START_NAME=
BUS_GOAL_NAME=
